.style-switcher{
    position: fixed;
    right: 0;
    top: 27px;
    padding: 15px;
    width: 200px;
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}

.style-switcher .s-icon{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    color: var(--text-black-900);
    right: 100%;
    margin-right: 15px; 
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=156821), auto;
    transition: all 0.3s ease;
    border-radius: 50%;
}

.style-switcher.open{
    transform: translateX(-15px);
}

.style-switcher .s-icon i{
    line-height: 40px;
}

.style-switcher .s-icon:after{
    border-radius: 50%;
}

.style-switcher .day-night{
    top: 55px;
}